* {
	border: 0;
	padding: 0;
}

body{
  text-align: center;
}
#game-board {
	background: #2ca8eb;
	width: 730px;
	cursor: pointer;
}

.column {
	width: 100px;
	display: inline-block;
}

.column:hover  circle.free{
	fill: #D5E4ED;
}

circle.free {
	fill: #fff;
}










/* @keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.explosion {
  position: absolute;

  width:  100px;
  height:  100px;
  background-color:  rgba(255, 0, 0, 0.7);
  border-radius: 50% ; 
  animation: explode 0.5s ease-out;
} */