*, *::after, *::before {
  margin: 0;
  padding: 0;
}

html {
  background-image: url('https://images.unsplash.com/photo-1546448396-6aef80193ceb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  size: 100%;
}

body {
  display:flex; 
  flex-direction: column;
  align-items: center;

}

h1 {
  margin: 5vh ;
  font-size: 2.5vh;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

#board {
  padding-top:10vmin ;
  width: 70vmin;
  height: 60vmin;
 
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.cell {
  border: 1px dotted white;
  display: flex;
}

.piece {
  border-radius: 50%;
  background-color: rgb(225, 24, 138);
  flex-grow: 1;

}


.piece[data-player = "1"] {
  background-color: red;
}

.piece[data-player = "2"] {
  background-color: yellow;
}

/* if are piece has got the data set placed to a value  of
false it will move our piece up by 10vmin */
.piece[data-placed = "false"] {
  transform: translateY(-10vmin);

}










/* * {
	border: 0;
	padding: 0;
}

body{
  text-align: center;
}
#game-board {
	background: #2ca8eb;
	width: 730px;
	cursor: pointer;
}

.column {
	width: 100px;
	display: inline-block;
}

.column:hover  circle.free{
	fill: #D5E4ED;
}

circle.free {
	fill: #fff;
} */










/* @keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.explosion {
  position: absolute;

  width:  100px;
  height:  100px;
  background-color:  rgba(255, 0, 0, 0.7);
  border-radius: 50% ; 
  animation: explode 0.5s ease-out;
} */